{% extends 'micro/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container bg-warning">
<p>
<h1 class="text-center title" >Training we provide</h1>
<div class="space-50"></div>
</p>
</div>
<br>

<div class="container">
  <div class="row">
    {% for train in trainings %}
              <div class="col-sm-4 mb-3">
                  <div class="card" style="width: 18rem;">
                    <img src="{{ train.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ train.kind }}</h5>
                      <p class="card-text">{{ train.card_description }}</p>
                      <a role="button" href="{% url 'training:detail' train.id %}" class="btn btn-info">Go !!!</a>
                    </div>
                  </div>
              </div>
          {% endfor %}



<br>
<br>
<br>

</div>
</div>




<br>
<br>


{% endblock %}
