{% extends 'micro/base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('{% static 'assets/img/header.jpg' %}');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="{% static 'assets/img/now-logo.png' %}" alt="">
        <h1 class="h1-seo">MULTIROTOR PROJECTS</h1>
        <h3></h3>
      </div>
      <h6 class="category category-absolute"> Unmaned Areal Vehicle. </h6>
    </div>
  </div>
  </div>


<br>
<br>
<div class="main">

  <div class="section section-basic" id="basic-elements">
    <div class="container">
      <h1> MULTIROTOR PROJECTS </h1>
      </div>
    </div>
</div>


{% for mRot in mRotors %}
<div class="section section-examples" data-background-color="black">

  <div class="space-30"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <a href="#">
          <img src="{{ mRot.image.url }}" alt="Image" class="img-raised">
        </a>
        <a href="{% url 'multirotors:detail' mRot.id %}" class="btn btn-outline-default btn-primary btn-round">Detail Page</a>
      </div>
      <!-- <div class="col"> -->



        <div class="col-md-10 ml-auto col-xl-6 mr-auto ">
              <!-- <p class="category">{{ mRot.title }}</p> -->
              <!-- Nav tabs -->
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs justify-content-center" role="tablist" data-background-color="orange">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home{{ mRot.id }}" role="tab">
                        <i class="now-ui-icons objects_umbrella-13"></i> Brief Info
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#profile{{ mRot.id }}" role="tab">
                        <i class="now-ui-icons shopping_cart-simple"></i> Tech Info
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#messages{{ mRot.id }}" role="tab">
                        <i class="now-ui-icons shopping_shop"></i> Description
                      </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                        <i class="now-ui-icons ui-2_settings-90"></i> Settings
                      </a>
                    </li> -->
                  </ul>
                </div>
                <div class="card-body" data-background-color="orange">
                  <!-- Tab panes -->
                  <div class="tab-content text-center" >
                    <div class="tab-pane active" id="home{{ mRot.id }}" role="tabpanel" >
                      <p ><b> Title </b> : {{ mRot.title }} <br>
                          <b>    Date :  </b>{{ mRot.date }} </p>
                    </div>
                    <div class="tab-pane" id="profile{{ mRot.id }}" role="tabpanel">
                      <p> Rotor Type : {{ mRot.Rotor_type }}<br>
                          RF frequency : {{ mRot.RF_frequecy }} {{ mRot.unit }}
                      </p>
                    </div>
                    <div class="tab-pane" id="messages{{ mRot.id }}" role="tabpanel">
                      <p>{{ mRot.description|truncatechars:500 }} </p>
                    </div>
                    <!-- <div class="tab-pane" id="settings" role="tabpanel">
                      <p>
                        "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                      </p>
                    </div> -->
                  </div>

                  </div>
                  </div>
                  </div>



      </div>
    </div>
  </div>
<!-- </div> -->




  {% endfor %}

{% endblock %}
