{% extends 'micro/base.html' %}
{% load static %}

{% block content %}

<br>
<div class="main">
<br>
  <div class="section section-basic" id="basic-elements">
    <div class="container">
      <h1>{{ mRotors.title }}</h1>
      </div>
    </div>
  </div>


<div class="section" id="carousel">
       <div class="container">
         <!-- <div class="title">
           <h4>Gal</h4>
         </div> -->
         <div class="row justify-content-center">
           <div class="col-lg-12 col-md-16">
             <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                 <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                 <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner" role="listbox">
                 <div class="carousel-item active">
                   <img class="d-block" src="{{ mRotors.image.url }}" alt="First slide">
                   <div class="carousel-caption d-none d-md-block">
                     <h5>{{ mRotors.title }}</h5>
                   </div>
                 </div>
                 {% for p in photos %}
                 <div class="carousel-item">
                   <img class="d-block" src="{{ p.images.url }}" alt="Second slide">
                   <div class="carousel-caption d-none d-md-block">
                     <h5>{{ p.image_info }}</h5>
                   </div>
                 </div>
                 {% endfor %}

                 {%for video in videos %}

                 <div class="carousel-item">
                   <video class="img-fluid" autoplay loop muted>
                     <source src="{{ video.videofile.url }}" type="video/mp4" />
                   </video>
                   <div class="carousel-caption d-none d-md-block">
                     <h5>{{ video.video_info }}</h5>
                   </div>
                 </div>

                 {% endfor %}
                 <!-- <div class="carousel-item">
                   <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                   <div class="carousel-caption d-none d-md-block">
                     <h5>Yellowstone National Park, United States</h5>
                   </div>
                 </div> -->
               </div>
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                 <i class="now-ui-icons arrows-1_minimal-left"></i>
               </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                 <i class="now-ui-icons arrows-1_minimal-right"></i>
               </a>
             </div>
           </div>
         </div>
       </div>
     </div>

<div class="section">
        <div class="container">
          <h3 class="title">STORY</h3>
          <div id="typography">
            <div class="row">
              <div class="col-md-12">
                <div class="typography-line">
                <!-- <span>Quote</span> -->
                <blockquote>
                  <p class="blockquote blockquote-info">
                    <b>{{ mRotors.description }}</b>
                    <br>
                    <br>
                    <small>
                      - <b>{{ mRotors.user_name|capfirst }}</b>
                    </small>
                  </p>
                </blockquote>
                </div>
              </div>
            </div>
          </div>





          <!-- Commrnt form -->


        {% if user.is_authenticated %}
          <div id="inputs">
            <h4>You are commenting as <b> {{ mRotors.user_name }}<b> </h4>
            <!-- <p class="category">fillup</p> -->
            <form class="from-control" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="content">Comment</label>
                        {{comment_form.as_p}}
                      </div>
                      <input type="submit" name="comment" class="btn btn-warning">
                    </form>
          </div>

          {% else %}

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="main">

            <div class="section section-basic" id="basic-elements">
              <div class="container"  >
                <h3>login to comment</h3>
                </div>
              </div>
            </div>


          {% endif %}
<!-- Comments here -->

<div class="section section-team text-center">
      <div class="container">
        <h2 class="title">Comments section</h2>
        <div class="team">
          <div class="row">
            {% for comment in comments %}
            <div class="space-50"></div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="{% static 'assets/img/logo.png' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">{{ comment.user }}</h4>
                <!-- <h1>{{ comment. }}</h1> -->
                <p class="category text-default">{{ comment.created_at }}</p>
                <p class="category text-primary">{{ comment.content }}</p>
                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a> -->
                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a> -->
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>





      </div>
  </div>








{% endblock %}
