{% extends 'micro/base.html' %}
{% load static %}


{% block forhome %}
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('{% static 'assets/img/bg10.jpg' %}');">
    </div>
    <div class="container">
      <div class="space-50"></div>
      <div class="space-20"></div>

      <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Welcome to MICRO-AVIATION!</h2>
                <h5 class="description"><b>Starting as a small business in Pune, Maharashtra, we have big dreams. Our passion for Building, designing and flying variuos types of aircrafts such as fixed winged, UAVs, Multirotors and many more means that we provide our customers with nothing but the highest quality of products, that are guaranteed to meet their needs and keep them satisfied!
                  
                  With a motivated team, we strive to be the creative minds that bring a smile to your face. That’s why we’re always looking for innovative new ways to get the best to you.</b></h5>
            </div>
      </div>

      <h6 class="category category-absolute"> contact us for more info. </h6>
    </div>
  </div>
  </div>
{% endblock %}

{% block content %}










<div class="section section-team text-center">
      <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="space-50"></div>
        <div class="team">
          <div class="row">
            <div class="col-md-6">
              <div class="team-player">
                <img src="{% static 'assets/img/about_mahesh.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Mahesh Salunkhe</h4>
                <p class="category text-primary">Founder, Owner</p>
                <!-- <p class="description"><b>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</b></p> -->
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="team-player">
                <img src="{% static 'assets/img/chirag2.jpeg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Chirag Salunkhe</h4>
                <p class="category text-primary">Manager</p>
                <!-- <p class="description"></p> -->
                <a href="https://www.linkedin.com/in/chirag-mahesh-salunke-3872951a1/" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="team-player">
                <img src="{% static 'assets/img/eva.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Jane Doe</h4>
                <p class="category text-primary">Website designer</p>
                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

{% endblock %}
