{% extends "micro/base.html" %}
{% load static %}



{% block forhome %}
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('{% static 'assets/img/header.jpg' %}');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="" src="{% static 'assets/img/logo_m_small.png' %}" alt="">
        <h1 class="h1-seo">mIcRo-aViAtIoN</h1>
        <h3>multirotors, planes, models.</h3>
      </div>
      <h6 class="category category-absolute"> contact for more info. </h6>
    </div>
  </div>
{% endblock %}



{% block content %}

<!-- </div> -->
<!-- Bottom gallery  -->
<br>
<br>
<div class="main">

  <div class="section section-basic" id="basic-elements">
    <div class="container">
      <!-- <section id="loaders">
          <i class="now-ui-icons loader_refresh spin"></i>
    </section> -->
      <h1 class="text-warning">
        <i class="now-ui-icons ui-2_settings-90"></i> ------
        <i class="now-ui-icons ui-1_send"></i> ------
        <i class="now-ui-icons design_vector"></i> ------
        <i class="now-ui-icons ui-1_send"></i> ------
        <i class="now-ui-icons objects_spaceship"></i> ------
        <i class="now-ui-icons shopping_cart-simple"></i> -----
      </h1>







          <h5 class="description"><b>-------------------------------------------------------------------------------</b><h5>

      <h1 >  ONGOING PROJECTS </h1>
      <!-- <h5 class="description"><b>-------------------------------------------------------------------------------</b><h5> -->
      </div>
    </div>
  </div>

  <!-- <h2> Jus Chillin</h2> -->

  <div class="section section-team text-center" data-background-color="black">
    <h2 class="title">Awesome</h2>
    <div class="container">
      <h2 class="description">_________________________________________</h2>
      <div class="team">
        <div class="row">
          {% for project in projects %}
          <div class="space-50"></div>
          <div class="col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <a href="{{ project.url }}">
                  <img class="d-block" src="{{ project.image.url }}" alt="First slide">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <!-- <a href="{{ project.url }}"> -->
                    <h5>{{ project.title }}</h5>
                    <!-- </a> -->
                  </div>
                </div>
              </div>
              <br>
              <h5 class="description">{{ project.description }}</h5>
              <br>
              <br>
              <br>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>





<div class="section section-javascript" id="javascriptComponents">
  <div class="container">
    <h3 class="title">WHAT DO WE DO</h3>
    <div class="row" id="modals">
      <div class="col-md-6">
        <h4>Tags</h4>
        {% for tag in tags %}
        <!-- <button class="btn btn-" data-toggle="modal" data-target="#myModal">
        </button> -->
        <button class="btn btn-{{ tag.colour }}" data-toggle="modal" data-target="#myModal{{ tag.id }}">
          {{ tag.name }}
        </button>
        <div class="modal fade modal modal-warning" id="myModal{{ tag.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <div class="modal-profile">
                <h6>{{ tag.division }}</h6>
                </div>
              </div>
              <div class="modal-body">
                  <h6 class="text-danger"> {{ tag.name }} </h6>


                <p><b> {{ tag.body }}</b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-link btn-neutral">Back</button>
                <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br />
      <br />
    </div>
  </div>
</div>

















<br>
<br>
<div class="section">
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8">
        <h2 class="title">Aviation in Breif</h2>
        <h5 class="description"><b>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</b></h5>
      </div>
    </div>
  </div>
</div>



<br>
<br>
<div class="section section-download" id="#download-section" data-background-color="black">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="text-center col-md-12 col-lg-8">
              <h3 class="title">Do you love this Bootstrap 4 UI Kit?</h3>
              <h5 class="description">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim or Invision where you can find the kit in HTML or Sketch/PSD format. Start a new project or give an old Bootstrap project a new look!</h5>
            </div>
          </div>
          <br>
          <br>
          <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
              <h3>Thank you for supporting us!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">
              <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                <i class="fab fa-linkedin"></i>
              </a>
              <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

{% endblock %}
