{% extends 'micro/base.html' %}
{% load static %}


{% block content %}

<div class="page-header clear-filter" filter-color="orange">
  <div class="page-header-image" style="background-image:url({% static 'assets/img/bg3.jpg' %})"></div>
  <div class="content">
    <div class="container">
      <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-login card-plain ">
          <form class="form" method="POST" >
            {% csrf_token %}
            <div class="card-header text-center">
              <div class="logo-container">
                <img src="{% static 'assets/img/now-logo.png' %}" alt="">
              </div>
            </div>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div class="card-body">
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons users_circle-08"></i>
                  </span>
                </div>
                <input type="text" name="username" class="form-control title" id="username" placeholder="User Name...">
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                  </span>
                </div>
                <input type="password" name="password1" placeholder="password" class="form-control title" id="password1"/>
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                  </span>
                </div>
                <input type="password" name="password2" placeholder="Confirm password" class="form-control title" id="password2"/>
              </div>

            </div>

            </div>
            <div class="card-footer text-center">
              <!-- <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a> -->
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Sign Up</button>
              <div class="pull-left">
                <h6>
                  <a href="#pablo" class="link">Create Account</a>
                </h6>
              </div>
              <div class="pull-right">
                <h6>
                  <a href="#pablo" class="link">Need Help?</a>
                </h6>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
